body {
  padding: 0px;
  /* background:#181818 url('../php/blur_image.php') no-repeat center top fixed; */

}

@supports (background-size: cover) {
  body {
    /* background: #181818 url('../php/blur_image.php') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
